body {
  box-sizing: border-box;
}
h1 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

#titleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#locateButton {
  border-radius: 50%;
  width: 40px;
  height: auto;
  border-width: 0px;
}

#searchButton {
  border-radius: 50%;
  width: 40px;
  height: auto;
  border-width: 0px;
}

#inputBox {
  width: 350px;
  height: 35px;
  border-radius: 25px;
  border-width: 0px;
  background-color: lightgray;
}
#inputBlock {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
