body {
  box-sizing: border-box;
}
h1 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

#titleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#locateButton {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-width: 0px;
  background-image: url(./media/location_icon.png);
  background-position: center;
  background-size: contain;
}

#searchButton {
  border-radius: 24px;
  width: 40px;
  height: 40px;
  border-width: 0px;
  background-image: url(./media/search_icon.png);
  background-position: center;
  background-size: contain;
}

#inputBox {
  width: 360px;
  height: 40px;
  border-radius: 25px;
  border-width: 0px;
  background-color: lightgray;
}

#inputBlock {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#inputSection {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px;
  border-radius: 24px;
}
